<div class="table-responsive">
	<table class="table table-sm">
		<thead>
			<tr>
				<th scope="col" class="sortable">Title</th>
				<th scope="col" class="sortable">Body</th>
				<th scope="col" class="sortable">Date</th>
				<th scope="col" class="sortable">Edit</th>
				<th scope="col" class="sortable">Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let blog of blog_list">
				<td>{{blog.blog_title}}</td>
				<td>{{blog.blog_description}}</td>
				<td>{{ blog.blog_date}} </td>
				<td><a routerLink="/edit-blog/{{ blog.id }}" class="btn btn-warning">Edit</a></td>
				<td><button class="btn btn-danger" (click)="deleteBlog(blog.id, deleteReportPopUp)">Delete</button></td>
			</tr>
		</tbody>
	</table>
</div>

<ng-template #deleteReportPopUp let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title"> Delete Blog</h4>
      <button type="button" class="close" aria-label="Close" (click)="c('No')">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="table-responsive ">
        <span> Are you sure want to delete this blog?</span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="c('Yes')"> Delete </button>
      <button type="button" class="btn btn-outline-secondary" (click)="c('No')"> Cancel </button>
    </div>
</ng-template>