<div class="container">
  <form class="form-horizontal" (submit)="addBlog(form)" #form="ngForm">
    <div class="form-group">
      <label class="control-label col-sm-2">Title:</label>
      <div class="col-sm-6">
        <input [(ngModel)]="model.blog_title" name="blog_title" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Body:</label>
      <div class="col-sm-6">
        <textarea [(ngModel)]="model.blog_description" name="blog_description"  class="form-control"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Publish Date:</label>
      <div class="col-sm-6">
      <div class="input-group">
        <input
          class="form-control"
          placeholder="dd/mm/yyyy"
          name="blog_date"
          #c2="ngModel"
          [(ngModel)]="model.blog_date"
          ngbDatepicker
          #blog_date="ngbDatepicker"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary calendar"
            (click)="blog_date.toggle()"
            type="button"
          ></button>
        </div>
      </div>
    </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>